<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="./img/in.png" alt="" width="60" height="60" class="d-inline-block align-text-top">
        <p class="mx-2">Submit in: Πλατφόρμα Καταχώρησης Επιχείρησης</p> 
      </a>
    </div>
  </nav>