<section class="section">
    <div class="jumbotron">
        <div class="container">
            <div class="tabs">
                <ul class="nav nav-tabs" id="tab_selector" role="tablist">
                    <li class="nav-item" id="option_monument">
                      <a class="nav-link tab-option active" data-bs-toggle="tab" data-bs-target="#monument" href="#"> Αξιοθέατο <i class="fa-solid fa-landmark "></i> </a>
                    </li>
                    <li class="nav-item" id="option_housing">
                      <a class="nav-link tab-option" data-bs-toggle="tab" data-bs-target="#housing"  href="#"> Φιλοξενία <i class="fa-solid fa-bed"></i></a>
                    </li>
                    <li class="nav-item" id="option_eat_n_drink">
                      <a class="nav-link tab-option " data-bs-toggle="tab" data-bs-target="#eat_n_drink"  href="#"  tabindex="-1" > Εστίαση <i class="fa-solid fa-utensils"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tab-option " id="option_entertainment" data-bs-toggle="tab" data-bs-target="#entertainment"  href="#" tabindex="-1" > Κέντρο διασκέδασης/Αναψυκτήριο <i class="fa-solid fa-masks-theater"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tab-option " href="#" id="option_routes" data-bs-toggle="tab" data-bs-target="#routes" tabindex="-1" > Διαδρομή <i class="fa-solid fa-person-hiking"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tab-option " href="#" id="option_parking" data-bs-toggle="tab" data-bs-target="#parking" tabindex="-1" > Parking <i class="fa-solid fa-square-parking"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tab-option " href="#" id="option_services" data-bs-toggle="tab" data-bs-target="#services" tabindex="-1" > Δημόσιες Υπηρεσίες <i class="fa-solid fa-taxi"></i></a>
                    </li>
                  </ul>
            </div>
        </div>
    </div>
</section>