<form id="entertainment_form" action="/entertainment" method="post" action="/profile-upload-multiple" enctype="multipart/form-data>
    <div class="row my-2">
      <label>Ανεβάστε Φωτογραφίες</label>
      <input type="file" class="form-control" id="pictures" name="pictures" required />
  </div>
  <button type="submit" class="btn btn-primary g-recaptcha" >Καταχώρηση</button>
</form>