<form id="routes_form" action="/routes" method="post">
    <label for="team_name">Enter name: </label>
    <input id="team_name" type="text" name="name_field" value="Default name for team.">
    <input type="submit" value="OK">
</form>
<div class="border border-secondary"style=" height:400px;overflow-y:scroll;">
    <ul id="path-locs">

    </ul>
   
</div> 
<button type="button" id="clear-path" class="btn btn-danger my-2" onclick="clearMap_button()">Καθαρισμός Μονοπατιού</button>